.widget {
  border: 1px solid #cecece;
  border-radius: 5px;
  padding: 10px 15px;

  max-width: 350px;
}

.widget-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #cecece;
  margin-bottom: 15px;
}

.widget-title {
  font-size: 26px;
}

.widget-markets {
  margin-bottom: 15px;
}
